<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="prefetch" href="night_sky.jpg"/>
    <!-- 预取会缓存图片，用的时候直接从缓存中取得 -->
    <script async src="test4.js"></script>
    <script defer src="test.js"></script>
    <script src="test2.js"></script>
    <script src="test3.js"></script>
    <link rel="stylesheet" href="test.css">
    <!-- <link rel="preload" href="test4.js" as="script"> -->

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="test"></div>
    <button onclick="show_img()">显示div观察会不会请求背景图</button>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
