<template>
  <div class="home">
    <div>父组件内部原来的id：{{id}}</div>
    <dehydration :yesimola="'耶斯莫拉'" :test_prop="test_prop" v-model:user="user" v-model:my_id="id"></dehydration>

    <setup_tag :attr_with_colon="id" attr_without_colon=999 v-model:my_id="id" ></setup_tag>
    <br>
    <div>
      <ul>
        <li><input type="text" v-model="user_alias"> <button @click="user=user_alias">父组件改变user值</button></li>
        <li><input type="text" v-model="provide_value" placeholder="这里是父组件provide的值"> <button
            @click="provide_value='巴啦啦'">父组件改变provide值为'巴啦啦'</button></li>
        <li><button @click="test_prop='有用'">改变test_prop的值为‘有用’</button></li>
      </ul>
    </div>
  </div>
</template>

<script>
  // @ is an alias to /src
  import dehydration from '@/components/dehydration';
  import setup_tag from '@/components/setup_tag';
  // import {ref} from 'vue';
  import { computed } from 'vue';

  export default {
    name: 'Home',
    components: {
      dehydration,
      setup_tag
    },
    data() {
      return {
        user: '邹竹',
        user_alias: '',
        id: 1111,
        provide_value: '我是父组件provide值',
        test_prop: '无用'
      }
    },
    setup() {
    },
    provide() {
      return {
        p_key: this.provide_value,
        p_computed_key: computed(() => this.provide_value)
      }
    }
  }
</script>