<template>
    <h2>More2内容</h2>
</template>

<script setup>
    import { useRoute, useRouter } from 'vue-router';

    const route = useRoute();
    const router = useRouter();
    console.log("🚀 ~ route:", route);
    console.log("🚀 ~ router:", router);
    
</script>