<template>
  <div>
    <ul>
      <li>当前登录用户：{{user}}</li>
      <li>子组件emit事件更改用户为：<input type="text" v-model="input_value"> <button @click="change_user">确定</button></li>
      <li>my_id：{{my_id}}</li>
      <li>ref返回一个响应式引用，通过my_value.value访问其实际值 <button @click="my_value++">my_value.value++</button></li>
      <li>ref(0)响应式对象的值在模板中会解包，因此在模板中(只要是template包裹的代码就都不需要)不需要添加.value来访问，值为：{{my_value}}</li>
      <li>计算得到的用户介绍：{{user_info}}</li>
      <li>setup的context.attrs：{{attrs}}</li>

      <li>provide/inject并不是响应式的，因此即使祖先的provide_value改变了，子孙后代也不会变。得到祖先组件provide注入的值：{{p_key}}</li>
      <li>保持响应的provide需要提供一个computed：{{p_computed_key}}</li>
      <li>inject类似于props，也可以设置默认值，例如：{{may_inject}}</li>
    </ul>
  </div>
</template>

<script>
  import { onMounted, ref, toRef, toRefs, watch, computed, reactive } from 'vue';

  export default {
    name: 'dehydration',
    data() {
      return {
        input_value: '',
      }
    },
    props: ['user', 'my_id'],
    inject: {
      p_key: {

      },
      p_computed_key:{},
      may_inject: {
        default: "may_inject设置默认值（祖先未provide会自动使用该值）"
      }
    },
    setup(props, context) {
      onMounted(function () {
        // console.log("onMounted钩子被调用,setup的props和context参数分别为：");
        // console.log(props, context);
      });

      //更新数据操作
      const { user } = toRefs(props);
      const getNews = (new_value) => {
        // console.log("监听到props内的user改变，重新获取新的数据！！", "变为：", new_value.value);
      }
      // console.log('toRefs参数是：', JSON.stringify(user));
      watch(() => user, getNews, { deep: true });
      const user_info = computed(() => { return `"您好，我叫${user.value}"` })

      //ref返回一个响应式引用，通过my_value.value访问其实际值
      const my_value = ref(0);
      // watch(() => my_value, (new_value) => { console.log(`my_value变为${new_value.value}`) }, { deep: true })
      const change_my_value = () => { my_value.value++ };


      //*******************************
      //以下我们通过组合式函数来实现
      const test = reactive({ a: 1 });
      // console.log('我是', test);


      // console.log("*********************");
      let ref_obj = ref('ref内部值');
      // console.log(`ref_obj.value：${ref_obj.value}`);
      let toRef_prop_user = toRef(props, 'user');
      // console.log(`toRef_prop_user.value: ${toRef_prop_user.value}`);//是一个ref，所以要用.value进行访问值
      let toRefs_obj = toRefs(props);
      // console.log(`toRefs_obj.value: `);
      // console.log(toRefs_obj.user);
      // console.log(toRefs_obj.user.value);//具体属性是ref，所以还是需要加.value
      // console.log("*********************");


      let { attrs } = context;
      return {
        my_value,
        change_my_value,
        user_info,
        test,
        attrs
      }
    },
    methods: {
      change_user() {
        this.$emit('update:user', this.input_value);
      }
    },
    created() {
    },
    mounted() {
      // console.log(this);
    }
  }
</script>

<style scoped>

</style>