<template>
    <ul>
        <li>父组件透传来的内容：{{inject_a}}</li>
    </ul>
</template>

<script setup>
    import { inject } from 'vue';
    import axios from 'axios';
    let inject_a = inject('a');

    const api = axios.create({
        baseUrl: "",
        timeout: 3000
    });
    api.interceptors.request.use(config=>{
        return config;
    },err=>{
        Promise.reject(err);
    });

    api.interceptors.response.use(res=>{
        return Promise.resolve(res);
    }, err=>{
        Promise.reject(err);
    })
</script>