<template>
    <p><strong>使用setup标签的子元素</strong></p>
    <ul>
        <li>my_id：{{my_id}}</li>
        <li>input_id：<input type="text" v-model="input_id" placeholder="这里是父元素传递的my_id"></li>
        <li><button @click="get_event($event)">获取DOM元素</button></li>
        <li>把reactive内部对象整个替换掉会导致模板数据失去响应性，而ref不会</li>
        <li>state：{{JSON.stringify(state)}}</li>
        <li>abc：{{JSON.stringify(abc)}}</li>
        <li>透传带冒号：{{$attrs.attr_with_colon}}</li>
        <li>透传不带冒号：{{$attrs.attr_without_colon}}</li>
    </ul>

    <grand_child></grand_child>
</template>

<script setup>
    import { computed, defineEmits, defineProps, ref, reactive, isReactive, isRef, isReadonly, isProxy, toRef, useAttrs,provide} from 'vue';
    import grand_child from "./grand_child.vue";

    const emit = defineEmits(['update:my_id']);
    const props = defineProps(['my_id']);
    const attrs = useAttrs();
    // console.log("props：", props);
    // console.log("attrs：", attrs);
    // console.log("isReactive(props)/isProxy/isRef/isReadonly：", isReactive(props), isProxy(props), isRef(props), isReadonly(props));//true true false true

    // console.log("isReactive(attrs)/isProxy/isRef/isReadonly：", isReactive(attrs), isProxy(attrs), isRef(attrs), isReadonly(attrs));

    let input_id = computed({
        get() {
            return props.my_id;
        },
        set(new_val) {
            emit('update:my_id', new_val);
        }
    });
    function get_event(event) {
        event.stopPropagation();
        // console.log(event);
    }

    const arr_reactive = reactive([ref(1)]);
    const arr_ref = ref([ref(1)]);
    // console.log("arr_reactive：", arr_reactive[0].value);
    // console.log("arr_ref：", arr_ref.value[0].value);
    // console.log(arr_reactive);
    // console.log(arr_ref.value);

    const s = ref({
        count: 1,
        obj: { a: 1 }
    });
    let { count, obj } = s.value;
    setTimeout(() => {
        // console.log(count, obj);
        count++;
        obj.a++;
        // console.log(count, obj);
        // console.log(s.value.count, s.value.obj.a);
    }, 20000);


    let state2 = reactive({ a: 1, b: 2 });
    const abc = ref({ aref: 1, bref: 2 });
    setTimeout(() => {
        state2 = reactive({ a: 2, b: 10 });
        abc.value = { aref: 2, bref: 10 };
        // console.log(state2, abc);//两个变量的值都变了，但是reactive对应的视图并不会更新！！！！
    }, 30000);

    const state = reactive({
        foo: 1,
        bar: 2,
        obj: [0],
        o: { a: 22 }
    })

    // 双向 ref，会与源属性同步
    const fooRef = toRef(state, 'foo')

    // 更改该 ref 会更新源属性
    fooRef.value++
    // console.log(":::::::::")
    // console.log(state.foo) // 2

    // 更改源属性也会更新该 ref
    state.foo++
    // console.log(fooRef.value) // 3

    const foo_bad = ref(state.foo);
    foo_bad.value++;
    // console.log(foo_bad.value);
    // console.log(fooRef.value);
    // console.log(state.foo);

    //toRef不等于ref，
    // console.log(state.obj);
    const obj_bad = ref(state.obj);
    obj_bad.value[0]++;
    // console.log(obj_bad.value);
    // console.log(state.obj);

    // console.log(state.o);
    const o_bad = ref(state.o);
    o_bad.value.a = 34;
    // console.log(o_bad.value);
    // console.log(state.o);


    provide('a', input_id);
</script>